<template>
  <a :class="buttonClassName" :href="link">
    <img v-if="type === 'download'" src="~/static/img/downloadIcon.svg">
    <span> {{ buttonText || 'Hello' }} </span>
  </a>
</template>

<script>
export default {
  name: 'shared-CTA-Button',
  props: {
    link: String, // URL
    type: String, // default, download, or plain
    opentab: Boolean, // if True Open new tab
    buttonText: String
  },
  computed: {
    buttonClassName: function () {
      if (this.type === 'download') {
        return 'c-gm-ctaButton c-gm-ctaButton--download'
      } else {
        return 'c-gm-ctaButton'
      }
    }
  }
}
</script>



<style lang="scss" scoped>
  $download-bg: #EA1D63;
  $download-hover: #ad003b;
  $download-text: #FFFFFF;

  $plain-bg: #FFFFFF;
  $plain-hover: #E0E0E0;
  $plain-text: #303030;

  .c-gm-ctaButton {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    padding: .75rem .75rem;
    margin-top: 10px;

    color: $plain-text;
    background: $plain-bg;

    height: 50px;
    width: 100%;

    text-align: center;

    border-radius: 40px;
    text-decoration: none;

    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {
      background: $plain-hover;
      cursor: pointer;
    }

    // Download State
    &--download {
      background: $download-bg;
      color: $download-text;

      &:hover {
        background: $download-hover
      }

      img {
        vertical-align: top;
        border-style: none;
        height: 24px;
        margin-right: 7px;
      }
    }

     // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575px) {
      height: 30px;
      padding: 2px;
      margin-top: 35px;
    }

    @media (max-width: 920px) {
      height: 40px;
      padding: 8px 10px;
      margin-top: 25px;
    }
  }

  .c-gm-ctaButton span {
    font-size: 18px;
    letter-spacing: 3.4px;
    font-weight: 600;

    text-align: center;
    white-space: nowrap;
    font-family: Poppins, sans-serif;

    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575px) {
      font-size: 12px;
    }

    @media (max-width: 920px) {
      font-size: 14px;
    }
  }
</style>
