<template>
  <section class="r-gm-hero">
    <b-container class="u-full-height">
      <app-logo/>
      <header-text/>
      <header-mockup/>
    </b-container>
  </section>
</template>

<script>
import appLogo from './partials/heroAppLogo.vue'
import headerText from './partials/heroHeader.vue'
import headerMockup from './partials/heroMockIphone.vue'

export default {
  name: 'Section-Hero',
  components: { appLogo, headerText, headerMockup }
}
</script>

<style lang="scss" scoped>
$primary-color: #333;

.r-gm-hero {
  display: block;
  position: relative;

  width: 100%;

  background-image: url('~/static/img/hero-bg2.png');
  background-position-x: 50%;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575px) {
    background-image: url('~/static/img/hero-bg2-mobile.png');
    background-position-x: 50%;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

.u-full-height {
  display: block;
  position: relative;

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575px) {
    height: 100%;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767px) {
    height: 100%;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991px) {
    height: 100%;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199px) {
    height: 100vh;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    height: 100vh;
  }
}
</style>
