<template>
  <section class="r-gm-footer">
    <b-container>
      <b-row align-v="center" align-h="center">
        <nameBlock appName="graphmented" slogan="Create stunning charts using augmented reality."/>
        <copyrightBlock copyrightStatement="Copyright © 2017 BADR. All Rights Reserved."/>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import nameBlock from './partials/nameBlock.vue'
import copyrightBlock from './partials/copyrightBlock.vue'

export default {
  name: 'Section-Contact',
  components: { nameBlock, copyrightBlock }
}
</script>


<style lang="scss">
$footer-bg-color: #FFFFFF;

.r-gm-footer {
  display: block;
  position: relative;

  background: $footer-bg-color;
  background-size: cover;

  width: 100%;
  padding: 30px 0 15px;

  // Large devices (desktops, 992px and up)
  @media (max-width: 1200px) {
    padding: 30px 0;
  }
}
</style>
