<template>
  <b-row class="o-gm-hero__text">
    <h1 class="o-gm-hero__header">{{ headerText }}</h1>
    <h3 class="o-gm-hero__subHeader">{{ subHeaderText }}</h3>

    <b-row  align-h="center" class="o-gm-hero__ctaButtons">
      <b-col cols="12" sm="12" md="4" lg="4" xl="4">
        <ctaButton :link="appLink" type="download" buttonText="DOWNLOAD" target="_blank"></ctaButton>
      </b-col>
      <b-col cols="12" sm="12" md="4" lg="4" xl="4">
        <ctaButton link="#features" buttonText="LEARN MORE"></ctaButton>
      </b-col>
    </b-row>
  </b-row>
</template>


<script>
import ctaButton from '~/components/shared/ctaButtons.vue'

export default {
  name: 'Section-Hero__AppHeader',
  components: { ctaButton },
  data: function () {
    return {
      headerText: 'Create stunning charts using AR',
      subHeaderText: 'Transform your desk into a spreadsheets workstation. Drop sheets and charts on your desk as if they are real objects and make use of your whole desk space.',
      appLink: 'https://itunes.apple.com/us/app/graphmented/id1272675854'
    }
  }
}
</script>

<style lang="scss" scoped>
  .o-gm-hero__text {
    display: block;
    position: relative;
    background: transparent;
    margin: 25px auto 0px;
  }

  .o-gm-hero__header{
    font-family: Poppins, sans-serif;

    text-align: center;

    font-size: 48px;
    line-height: 68px;

    letter-spacing: 2px;
    font-weight: 700;

    color: #FFFFFF;

    @media (max-width: 900px) {
      font-size: 35px;
      line-height: 40px;
    }
  }

  .o-gm-hero__subHeader{
    font-family: Poppins, sans-serif;
    text-align: center;

    font-size: 18px;
    line-height: 24px;

    display: block;
    position: relative;

    margin-top: 25px;
    width: 70%;
    margin: 0 auto;

    color: #FFFFFF;
    opacity: 0.8;

    @media (max-width: 900px){
      font-size: 18px;
      line-height: 24px;
      margin-top: 15px;
    }
  }

  .o-gm-hero__ctaButtons {
    position: relative;

    margin: 20px 0;

    @media (max-width: 900px) {
      margin-top: 25px;
    }


  }
</style>
