<template>
  <b-row class="o-gm-hero__logo" >
    <b-col align-self="center">
      <img src="~/static/img/app-logo.png" class="o-gm-hero__logo-image" alt="Graphmented iOS App Icon">
    </b-col>
  </b-row>
</template>


<script>
export default {
  name: 'Section-Hero__AppLogo'
}
</script>

<style lang="scss" scoped>
  .o-gm-hero__logo {
    display: block;
    position: relative;
    padding-top: 15vh;
    text-align: center;
    margin: 0 auto;

    // Large devices (desktops, 992px and up)
    @media (max-width: 992px) {
      padding-top: 5vh;
    }
  }



  .o-gm-hero__logo-image {
    display: block;
    position: relative;
    margin: 0 auto;

    // Large devices (desktops, 992px and up)
    @media (max-width: 992px) {
      width: 80px;
    }

  }
</style>
