<template>
  <h1 class="o-gm-badr__header">
    <span class="o-gm-badr__header-text">
      {{ text }}
    </span>
    <span class="o-gm-badr__header-logo">
      <img src="~/static/img/badr-logo.svg" alt="BADR">
    </span>
  </h1>
</template>


<script>

export default {
  name: 'Section-BADR__Header',
  props: ['text']
}
</script>

<style lang="scss" scoped>
  $header-color: #C91B56;
  $subheader-color: #989898;

  .o-gm-badr__header{
    display: inline-block;
    margin-bottom: 30px;

    font-family: Poppins, sans-serif;
    text-align: left;
    font-size: 38px;
    letter-spacing: 2px;
    color: white;

    @media (max-width: 1200px) {
      font-size: 32px;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .o-gm-badr__header-text{
    display: inline-block;
    vertical-align: text-bottom;
  }

  .o-gm-badr__header-logo{
    display: inline-block;
    vertical-align: text-top;
    margin-left: 15px;

    img {
      height: 45px;
      vertical-align: middle;

      @media (max-width: 900px) {
        height: 40px;
      }
    }
  }
</style>
