<template>
  <b-col cols="12" sm="12" md="12" lg="4" xl="4">
    <div class="o-gm-featuredon__label-name">
      <h4 class="o-gm-featuredon__label-appName">{{ appName }}</h4>
    </div>
  </b-col>
</template>


<script>

export default {
  name: 'Section-Footer__Name',
  props: ['appName', 'slogan']
}
</script>

<style lang="scss" scoped>
  $header-color: #C91B56;
  $subheader-color: #989898;

  .o-gm-featuredon__label-name {
    display: block;
    position: relative;
    text-align: center;

    // Large devices (desktops, 992px and up)
    @media (max-width: 980px) {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .o-gm-featuredon__label-appName {
    display: block;
    margin-bottom: 0px;

    font-size: 20px;
    font-family: Poppins,sans-serif;
    letter-spacing: 3px;
    color: #fff;

    text-transform: uppercase;
    font-weight: bold;
  }

  .o-gm-featuredon__label-appSlogan {
    display: block;

    font-size: 12px;
    font-family: Poppins,sans-serif;

    color: #fff;
    opacity: 0.5;
  }
</style>
