<template>
      <b-col cols="12" sm="12" md="6" lg="4" xl="4" class="o-gm-featuredon__logostrip-item">
        <img class="o-gm-featuredon__logostrip-image--entrepreneur" src="~/static/img/featuredon-entrepreneur-light.png" alt="Entrepreneur Magazine">
      </b-col>
</template>


<script>

export default {
  name: 'Section-featuredon__logostrip'
}
</script>

<style lang="scss" scoped>
  $header-color: #C91B56;
  $subheader-color: #989898;

  .o-gm-featuredon__logostrip-item {
    text-align: center;

    // Large devices (desktops, 992px and up)
    @media (max-width: 1200px) {
      margin-bottom: 15px;
      text-align: center;
    }
  }

  .o-gm-featuredon__logostrip-image {
    vertical-align: middle;

    height: 50px;
    margin-top: -5px;
  }

  .o-gm-featuredon__logostrip-image--entrepreneur {
    vertical-align: middle;

    height: 35px;
    margin-top: 5px;

    @media (max-width: 920px) {
      margin-bottom: 15px;
      text-align: center;
    }
  }
</style>
