<template>
  <b-row class="o-gm-features__text">
    <h1 class="o-gm-features__header">{{ headerText }}</h1>
    <h3 class="o-gm-features__subHeader">{{ subHeaderText }}</h3>
  </b-row>
</template>


<script>

export default {
  name: 'Section-Features__Header',
  data: function () {
    return {
      headerText: 'Meet your new spreadsheets workstation',
      subHeaderText: 'Graphmented establishes a new era for plotting and exploring charts. Here’s what you can do with Graphmented. '
    }
  }
}
</script>

<style lang="scss" scoped>
  $header-color: #C91B56;
  $subheader-color: #989898;

  .o-gm-features__text {
    display: block;
    position: relative;
    background: transparent;
    margin: 0px auto 30px;
  }

  .o-gm-features__header{
    font-family: Poppins, sans-serif;

    text-align: center;

    font-size: 38px;

    letter-spacing: 2px;
    font-weight: 700;

    color: $header-color;

    @media (max-width: 900px) {
      font-size: 32px;
    }
  }

  .o-gm-features__subHeader{
    display: block;
    position: relative;
    width: 85%;
    margin: 0 auto;

    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 23px;
    line-height: 1.8;
    color: #989898;

    @media (max-width: 900px){
      font-size: 18px;
      line-height: normal;
      margin-top: 15px;
    }
  }
</style>
