<template>
  <b-col cols="12" sm="12" md="6" lg="4" xl="4">
    <div class="o-gm-features__block-container">
      <div class="o-gm-features__block-icon">
        <img :src="require(`~/static/img/features-${featureData.icon}.svg`)" :alt="`${featureData.title} Icon`" >
      </div>

      <h3 class="o-gm-features__block-header">{{ featureData.title }}</h3>
      <h4 class="o-gm-features__block-details">{{ featureData.details }}</h4>
    </div>
  </b-col>
</template>



<script>
export default {
  name: 'Section-Features__Block',
  props: ['featureData']
}
</script>



<style lang="scss" scoped>
  .o-gm-features__block-container {
    display: block;
    position: relative;

    margin: 30px auto 30px;


    text-align: center;

    @media (max-width: 992px) {
      padding: 0px 30px;
    }
  }

  .o-gm-features__block-icon {
    display: block;
    position: relative;

    margin: 0px auto;

    height: 50px;
  }

  .o-gm-features__block-header {
    display: block;
    position: relative;

    margin: 20px auto 0px;

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    letter-spacing: 5px;
    color: #91455F;
    text-transform: uppercase;
  }

  .o-gm-features__block-details {
    display: block;
    position: relative;

    margin: 10px auto 0px;

    padding: 0px 20px;

    text-align: center;
    font-size: 20px;

    font-family: 'Source Sans Pro', sans-serif;
    color: #91455F;
    opacity: 0.8
  }
</style>
