<template>
  <b-row align-h="center" class="o-gm-features__container">
    <slot></slot>
  </b-row>
</template>



<script>
export default {
  name: 'Section-Features__Container'
}
</script>



<style lang="scss" scoped>
  .o-gm-features__container {
    padding: 15px 0px;

    @media (max-width: 992px) {
      padding: 0px 15px;
    }
  }
</style>
