<template>
  <b-col cols="12" sm="12" md="6" lg="6" xl="6">
    <div class="o-gm-contact__footer-name">
      <h2 class="o-gm-contact__footer-copyrightStatement">{{ copyrightStatement }}</h2>
    </div>
  </b-col>
</template>


<script>

export default {
  name: 'Section-Footer__copyrightBlock',
  props: ['appName', 'copyrightStatement']
}
</script>

<style lang="scss" scoped>
  $header-color: #C91B56;
  $subheader-color: #989898;

  .o-gm-contact__footer-name {
    display: block;
    position: relative;
    text-align: right;

    // Large devices (desktops, 992px and up)
    @media (max-width: 920px) {
      text-align: center;
    }
  }

  .o-gm-contact__footer-appName {
    display: block;
    margin-bottom: 6px;

    font-size: 18px;
    font-family: Source Sans Pro,sans-serif;
    letter-spacing: 4px;
    color: #000;

    text-transform: uppercase;
    font-weight: 600;
  }

  .o-gm-contact__footer-copyrightStatement {
    display: block;

    font-size: 14px;
    font-family: Poppins,sans-serif;

    color: #000;
    opacity: 0.5;
  }
</style>
