<template>
  <section class="r-gm-Contact">
    <b-container>
      <b-row align-v="center" align-h="center">
        <contactEmail label="GENERAL INQUIRIES" emailAddress="support@graphmented.com"/>
        <contactEmail label="FIND US ON TWITTER" twitter="graphmented"/>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import contactEmail from './partials/emailBlock.vue'

export default {
  name: 'Section-Contact',
  components: { contactEmail }
}
</script>


<style lang="scss">
$contact-bg-color: #303132;

.r-gm-Contact {
  display: block;
  position: relative;

  background: $contact-bg-color;
  background-size: cover;

  width: 100%;
  padding: 40px 0 0em;

  // Large devices (desktops, 992px and up)
  @media (max-width: 1200px) {
    padding: 40px 0 0em;
    text-align: center;
  }
}
</style>
