<template>
  <section class="r-gm-BADR">
    <b-container>
      <b-row align-v="center" align-h="left">
        <b-col cols="12" sm="12" md="12" lg="12" xl="8">
          <BADRHeader :text="headerText"/>
          <BADRBody :text="subHeaderText" />
          <div class="o-gm-badr__cta">
            <ctaButton link="http://www.badrit.com" buttonText="LEARN MORE" target="_blank"></ctaButton>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import BADRHeader from './partials/BADRHeader.vue'
import BADRBody from './partials/BADRBody.vue'
import ctaButton from '~/components/shared/ctaButtons.vue'

export default {
  name: 'Section-BADR',
  components: { BADRHeader, BADRBody, ctaButton },
  data: function () {
    return {
      headerText: 'Crafted by the people of',
      subHeaderText: 'Since 2006 and with help of 40+ software engineers, BADR delivers big data solutions, web & mobile applications, and social media analytics services to clients around the world. '
    }
  }
}
</script>


<style lang="scss">
.r-gm-BADR {
  display: block;
  position: relative;

  background: url(~/static/img/badr-bg.png) no-repeat center center;
  background-size: cover;

  width: 100%;
  padding: 7em 0 4em;

  // Large devices (desktops, 992px and up)
  @media (max-width: 1200px) {
    padding: 5em 0 3em;
    text-align: center;
  }
}

.o-gm-badr__cta {
  margin: 20px 0px;
  width: 40%;
  min-width: 180px;
  text-align: center;

  @media (max-width: 1200px) {
    padding: 2em 0;
    margin: 15px 0px;
    margin: 0 auto;
  }
}
</style>
