<template>
  <section id="features" class="r-gm-features">
    <b-container>
      <header-text/>
      <featureBlocksContainer>
        <featureBlock v-for="feature in features" :key="feature.title" :featureData="feature"/>
      </featureBlocksContainer>
    </b-container>
  </section>
</template>

<script>
import headerText from './partials/featuresHeader.vue'
import featureBlocksContainer from './partials/featuresContainer.vue'
import featureBlock from './partials/featuresBlock.vue'

export default {
  name: 'Section-Features',
  components: { headerText, featureBlocksContainer, featureBlock },
  data: function () {
    return {
      features: [
        {
          icon: 'googleSheets',
          title: 'GOOGLE SHEETS',
          details: 'Connect and retrieve data from Google Sheets'
        },
        {
          icon: 'excelCSV',
          title: 'EXCEL & CSV FILES',
          details: 'Import Excel and CSV files from iCloud Drive and Dropbox'
        },
        {
          icon: '3DCharts',
          title: '3D & 2D CHARTS',
          details: 'Plot 3D and 2D scattered and grouped bars Charts'
        },
        {
          icon: 'recordVideos',
          title: 'RECORD VIDEOS',
          details: 'Record stunning videos of 3D charts exploration'
        },
        {
          icon: 'streamCast',
          title: 'STREAM & CAST',
          details: 'Cast 3D Charts to screens, projectors or Apple TV through Quicktime'
        },
        {
          icon: 'explore3D',
          title: 'EXPLORE IN 3D',
          details: 'Rotate, scale and move sheets and charts easily anywhere on your desk'
        }
      ]
    }
  }
}
</script>


<style lang="scss">
.r-gm-features {
  display: block;
  position: relative;

  width: 100%;
  padding: 5em 0 4em;

  // Large devices (desktops, 992px and up)
  @media (max-width: 992px) {
    padding: 4em 0 3rem
  }
}
</style>
